<!-- <div class="radiobutton-control">
  <h4>Select a payment method</h4>
  <div class="row">
    <ejs-radiobutton label="Credit/Debit Card" name="payment" checked="true"
    cssClass="e-small" enableRtl="true"></ejs-radiobutton>
  </div>
  <div class="row">
    <ejs-radiobutton label="Net Banking" name="payment"
    cssClass="e-small" enableRtl="true"></ejs-radiobutton>
  </div>
  <div class="row">
    <ejs-radiobutton label="Cash on Delivery" name="payment"
    cssClass="e-small" enableRtl="true" disabled="true"></ejs-radiobutton>
  </div>
  <div class="row">
    <ejs-radiobutton label="Other Wallets" name="payment"
    cssClass="e-small" enableRtl="true"></ejs-radiobutton>
  </div>
</div> -->
<div class="checkbox-control">
  <ejs-checkbox label="Default" indeterminate="true" cssClass="e-small"
  enableRtl="true" disabled="true"></ejs-checkbox>
</div>